@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Applica DM Sans come font di base tramite Tailwind */
  html {
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
