:root {
  --primary-color: #f1f1f1; 
  --tertiary-color: #000000;  
  --tertiary-color: #00ff1e;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Suisse Int'l Mono", monospace;
    background-color: #000000;
    color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-family: "Suisse Int'l Mono", monospace;
    font-weight: 700;
    font-size: 80px;
    line-height: 2;
  }

  h2 {
    font-family: "Suisse Int'l Mono", monospace;
    font-weight: 500;
    font-size: 48px;
  }

  h3 {
    font-family: "Suisse Int'l Mono", monospace;
    font-weight: 700;
    font-size: 24px;
  }

  p {
    font-family: "Suisse Int'l Mono", monospace;
    font-size: 11px;
  }

  .highlight {
    font-weight: 900;
  }

  /* Manifesto title responsive sizing */
  .manifesto-title {
    font-size: 9.8vw;
    line-height: 1;
  }
}
